In [1]:
from sqlalchemy import create_engine

In [2]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
engine.connect()

In [24]:
import pandas as pd

In [25]:
url="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"
taxi_zone="https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

In [26]:
df=pd.read_csv(url,nrows=100)

In [27]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [28]:
len(df)

100

In [29]:
taxi_zone=pd.read_csv(taxi_zone)

In [30]:
len(taxi_zone)

265

In [31]:
print(pd.io.sql.get_schema(df,name="green_taxi_data",con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [32]:
df_iter=pd.read_csv(url,iterator=True,chunksize=100000)
df_iter
df=next(df_iter)

In [33]:
len(df)

100000

In [34]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [35]:
df.head(0)
df.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [36]:
query=""" Select * FROM green_taxi_data;"""
pd.read_sql(query,con=engine)

Empty DataFrame
Columns: [index, VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

[0 rows x 21 columns]

In [37]:
from time import time
for df in df_iter:
    t_start=time()

    df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_data',con=engine,if_exists='append')

    t_end=time()
    print(f'Inserted a chunk, Time taken (in seconds){round(t_end-t_start,2)}')

Inserted a chunk, Time taken (in seconds)8.88
Inserted a chunk, Time taken (in seconds)9.8

C:\Users\gagan\AppData\Local\Temp\ipykernel_14416\1152229330.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

Inserted a chunk, Time taken (in seconds)8.94
Inserted a chunk, Time taken (in seconds)3.53